<!DOCTYPE html>
<html id="home">
    <head>
        <title>Horario Disponible</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        ></script>

        <link
            rel="stylesheet"
            type="text/css"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
        />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
        />
        <link
            href="https://demos.creative-tim.com/material-dashboard/assets/css/material-dashboard.min.css?v=2.1.1"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="../css/custom.css" />
        <link rel="stylesheet" href="../javas/selector.css" />
        <script>
            function myFunction() {
                var element = document.getElementById("home");
                element.classList.toggle("nav-open");
            }
        </script>
        

    </head>
    <body>
        <div class="wrapper">
            <div
                class="sidebar"
                data-color="purple"
                data-background-color="white"
                data-image="https://demos.creative-tim.com/material-dashboard/assets/img/sidebar-1.jpg"
            >
                <div class="logo">
                    <a href="#" class="simple-text logo-normal">
                        SOCIAL UCAB
                    </a>
                </div>
                <div
                    class="sidebar-wrapper ps-container ps-theme-default"
                    data-ps-id="6b680f0b-7aa3-0fc9-85a6-2928c2b884ae"
                >
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index/<%=id_prestador%>">
                                <i class="material-icons">dashboard</i>
                                <p>Inicio</p>
                            </a>
                        </li>

                        <li class="nav-item ">
                            <a
                                class="nav-link"
                                href="/reportes_horas/<%=id_prestador%>"
                            >
                                <i class="material-icons">library_books</i>
                                <p>Reportes</p>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a
                                class="nav-link"
                                href="/horariodisp/<%=data[0].id_prestador%>"
                            >
                                <i class="material-icons">library_books</i>
                                <p>Horario Disponible</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="material-icons">dashboard</i>
                                <p>Cerrar Sesion</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel ps-container ps-theme-default " data-ps-id="dd12fe69-6573-b20b-9235-25b0c223a37f">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            
                                   
                            <div class="col-md-6">
                                <div class="card card-profile">
                                    <div class="card-header card-header-primary">
                                        <h2 class="card-title ">Disponibilidad de Horas</h2>
                                    </div>
                                    <div class="card-body horario">
                                        <div class="containerHoras">
                                            <div id="selectorHoras" class="selectorHoras"></div>
                                        </div>
                                        <div class="container-button">
                                            <form class="dis-form"
                                            name="frm1"
                                            method="post"
                                            onsubmit="arr = guardarHorario()"
                                            action="/horariodisp/<%=data[0].id_prestador%>">

                                            <button type ="submit" name="foo" id="botonHorario" onclick="arr = guardarHorario()" class="btn btn-info ml-1"
                                           >Guardar Horario<div class="ripple-container"></div></button></form>
                                            <button id="botonMostrar" onclick="mostrarHorario(arr)" class="btn btn-info ml-1">Mostrar Horario<div class="ripple-container"></div></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="float-left">
                            <ul></ul>
                        </nav>
                        <div class="copyright float-right">
                            © 2019, made with
                            <i class="material-icons">favorite</i> by
                            <span class=" text-primary">MSBD2Team</span>
                            .
                        </div>
                    </div>
                </footer>
                <div
                    class="ps-scrollbar-x-rail"
                    style="left: 0px; bottom: 0px;"
                >
                    <div
                        class="ps-scrollbar-x"
                        tabindex="0"
                        style="left: 0px; width: 0px;"
                    ></div>
                </div>
                <div
                    class="ps-scrollbar-y-rail"
                    style="top: 0px; right: 0px; height: 970px;"
                >
                    <div
                        class="ps-scrollbar-y"
                        tabindex="0"
                        style="top: 0px; height: 761px;"
                    ></div>
                </div>
            </div>
        </div>

     
        <script src="https://demos.creative-tim.com/material-dashboard/assets/js/core/jquery.min.js"></script>
        <script src="https://demos.creative-tim.com/material-dashboard/assets/js/core/popper.min.js"></script>
        <script src="https://demos.creative-tim.com/material-dashboard/assets/js/core/bootstrap-material-design.min.js"></script>
         <script src="https://demos.creative-tim.com/material-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="../javas/jQueryWeekly.js"></script>
    <script src="../javas/selector.js"></script>
    </body>
</html>
