<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <div>
            <a href="/">Inicio</a> | 
            <a href="/carrera/add">Agregar Nuevas Carreras</a> | 
            <a href="/carrera">Todas los Carreras</a>
        </div>    
        <h1><%=title%></h1>