.containerHoras {
    width: 100% !important;
    height: 387.071188px !important;
    margin-bottom: 15px;
}

.schedule {
    width: inherit !important;
    height: inherit !important;
}

.hour {
    margin: 2.5px 0 !important;
    border-radius: 3px;
    background-color: #ebebeb !important;
    box-shadow: 2px 2px 2px #f6f6f6;
}

.days-wrapper {
    width: 100% !important;
}

.day {
    margin: 0 2.5px !important;
}

h5 {
    padding-right: 0 !important;
}

.header {
    margin: 0 0 5px 0 !important;
    display: flex;
    justify-content: space-between;
}

.header-item {
    margin: 0 2.5px !important;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d3d3d3;
}

.hour-header {
    margin-right: 5px !important;
}

.align-block {
    margin-right: 5px !important;
}

.hour-header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px 2.5px !important;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #d3d3d3;
}

.horario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
